################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/0_work/RDSadmin/Setup_RDSadmin/Release/Setup_RDSadmin.msi
